versions/11.0.10.1/schema/payment/hcs-payment-service-async.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 rel. 2 (http://www.altova.com) by Zu (-) -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://dom.gosuslugi.ru/schema/integration/payment-service-async/" xmlns:base="http://dom.gosuslugi.ru/schema/integration/base/" xmlns:pm="http://dom.gosuslugi.ru/schema/integration/payment/" xmlns:ns="http://www.w3.org/2000/09/xmldsig#" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://dom.gosuslugi.ru/schema/integration/payment-service-async/">
	<wsdl:types>
		<xs:schema version="10.0.1.1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
			<xs:import namespace="http://dom.gosuslugi.ru/schema/integration/payment/" schemaLocation="hcs-payment-types.xsd"/>
			<xs:import namespace="http://dom.gosuslugi.ru/schema/integration/base/" schemaLocation="../lib/hcs-base.xsd"/>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="importNotificationsOfOrderExecutionRequest">
		<wsdl:part name="importNotificationsOfOrderExecutionRequest" element="pm:importNotificationsOfOrderExecutionRequest"/>
	</wsdl:message>
	<wsdl:message name="AckRequest">
		<wsdl:part name="AckRequest" element="base:AckRequest"/>
	</wsdl:message>
	<wsdl:message name="Fault">
		<wsdl:part name="Fault" element="base:Fault"/>
	</wsdl:message>
	<wsdl:message name="importNotificationsOfOrderExecutionCancellationRequest">
		<wsdl:part name="importNotificationsOfOrderExecutionCancellationRequest" element="pm:importNotificationsOfOrderExecutionCancellationRequest"/>
	</wsdl:message>
	<wsdl:message name="getStateRequest">
		<wsdl:part name="getRequestState" element="base:getStateRequest"/>
	</wsdl:message>
	<wsdl:message name="getStateResult">
		<wsdl:part name="getRequestStateResult" element="pm:getStateResult"/>
	</wsdl:message>
	<wsdl:message name="RequestHeader">
		<wsdl:part name="Header" element="base:RequestHeader"/>
	</wsdl:message>
	<wsdl:message name="ResultHeader">
		<wsdl:part name="Header" element="base:ResultHeader"/>
	</wsdl:message>
	<wsdl:message name="exportPaymentDocumentDetailsRequest">
		<wsdl:part name="exportPaymentDocumentDetailsRequest" element="pm:exportPaymentDocumentDetailsRequest"/>
	</wsdl:message>
	<wsdl:message name="exportPaymentDocumentDetailsResult">
		<wsdl:part name="exportPaymentDocumentDetailsResult" element="pm:exportPaymentDocumentDetailsResult"/>
	</wsdl:message>
	<wsdl:message name="importSupplierNotificationsOfOrderExecutionRequest">
		<wsdl:part name="importSupplierNotificationsOfOrderExecutionRequest" element="pm:importSupplierNotificationsOfOrderExecutionRequest"/>
	</wsdl:message>
	<wsdl:portType name="PaymentPortsTypeAsync">
		<wsdl:operation name="importNotificationsOfOrderExecution">
			<wsdl:documentation>ВИ_ОПЛАТА_ИЗВ. Передать перечень документов "Извещение о принятии к исполнению распоряжения"</wsdl:documentation>
			<wsdl:input message="tns:importNotificationsOfOrderExecutionRequest"/>
			<wsdl:output message="tns:AckRequest"/>
			<wsdl:fault name="FaultName" message="tns:Fault"/>
		</wsdl:operation>
		<wsdl:operation name="importNotificationsOfOrderExecutionCancellation">
			<wsdl:documentation>ВИ_ ОПЛАТА_ИЗВАН. Импорт документов "Извещение об аннулировании извещения о принятии к исполнению распоряжения"</wsdl:documentation>
			<wsdl:input message="tns:importNotificationsOfOrderExecutionCancellationRequest"/>
			<wsdl:output message="tns:AckRequest"/>
			<wsdl:fault name="FaultName" message="tns:Fault"/>
		</wsdl:operation>
		<wsdl:operation name="getState">
			<wsdl:documentation>Получить статус обработки запроса</wsdl:documentation>
			<wsdl:input message="tns:getStateRequest"/>
			<wsdl:output message="tns:getStateResult"/>
			<wsdl:fault name="FaultName" message="tns:Fault"/>
		</wsdl:operation>
		<wsdl:operation name="exportPaymentDocumentDetails">
			<wsdl:input message="tns:exportPaymentDocumentDetailsRequest"/>
			<wsdl:output message="tns:AckRequest"/>
			<wsdl:fault name="FaultName" message="tns:Fault"/>
		</wsdl:operation>
		<wsdl:operation name="importSupplierNotificationsOfOrderExecution">
			<wsdl:documentation>Импорт пакета документов «Извещение о принятии к исполнению распоряжения», размещаемых исполнителем </wsdl:documentation>
			<wsdl:input message="tns:importSupplierNotificationsOfOrderExecutionRequest"/>
			<wsdl:output message="tns:AckRequest"/>
			<wsdl:fault name="FaultName" message="tns:Fault"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="PaymentsBindingAsync" type="tns:PaymentPortsTypeAsync">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="importNotificationsOfOrderExecution">
			<soap:operation soapAction="urn:importNotificationsOfOrderExecution"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:RequestHeader" part="Header" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="tns:ResultHeader" part="Header" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="FaultName">
				<soap:fault name="FaultName" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="importNotificationsOfOrderExecutionCancellation">
			<soap:operation soapAction="urn:importNotificationsOfOrderExecutionCancellation"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:RequestHeader" part="Header" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="tns:ResultHeader" part="Header" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="FaultName">
				<soap:fault name="FaultName" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getState">
			<soap:operation soapAction="urn:getState"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:RequestHeader" part="Header" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="tns:ResultHeader" part="Header" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="FaultName">
				<soap:fault name="FaultName" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="exportPaymentDocumentDetails">
			<soap:operation soapAction="urn:exportPaymentDocumentDetails"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:RequestHeader" part="Header" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="tns:ResultHeader" part="Header" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="FaultName">
				<soap:fault name="FaultName" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="importSupplierNotificationsOfOrderExecution">
			<soap:operation soapAction="urn:importSupplierNotificationsOfOrderExecution"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:RequestHeader" part="Header" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="tns:ResultHeader" part="Header" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="FaultName">
				<soap:fault name="FaultName" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="PaymentsServiceAsync">
		<wsdl:port name="PaymentPortAsync" binding="tns:PaymentsBindingAsync">
			<soap:address location="https://api.dom.gosuslugi.ru/ext-bus-payment-service/services/PaymentAsync"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
