versions/10.0.2.10/schema/address-validation/hcs-address-validation-service-async.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 rel. 2 (http://www.altova.com) by Zu (-) -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://dom.gosuslugi.ru/schema/integration/address-validation-service-async/" xmlns:base="http://dom.gosuslugi.ru/schema/integration/base/" xmlns:av="http://dom.gosuslugi.ru/schema/integration/address-validation/" xmlns:ns="http://www.w3.org/2000/09/xmldsig#" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://dom.gosuslugi.ru/schema/integration/address-validation-service-async/">
	<wsdl:types>
		<xs:schema version="10.0.2.10" xmlns:xs="http://www.w3.org/2001/XMLSchema">
			<xs:import namespace="http://dom.gosuslugi.ru/schema/integration/address-validation/" schemaLocation="hcs-address-validation-types.xsd"/>
			<xs:import namespace="http://dom.gosuslugi.ru/schema/integration/base/" schemaLocation="../lib/hcs-base.xsd"/>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="AckRequest">
		<wsdl:part name="AckRequest" element="base:AckRequest"/>
	</wsdl:message>
	<wsdl:message name="Fault">
		<wsdl:part name="Fault" element="base:Fault"/>
	</wsdl:message>
	<wsdl:message name="getStateRequest">
		<wsdl:part name="getRequestState" element="base:getStateRequest"/>
	</wsdl:message>
	<wsdl:message name="getStateResult">
		<wsdl:part name="getRequestStateResult" element="av:getStateResult"/>
	</wsdl:message>
	<wsdl:message name="RequestHeader">
		<wsdl:part name="Header" element="base:RequestHeader"/>
	</wsdl:message>
	<wsdl:message name="ResultHeader">
		<wsdl:part name="Header" element="base:ResultHeader"/>
	</wsdl:message>
	<wsdl:message name="exportAddressAdditionRequest">
		<wsdl:part name="exportAddressAdditionRequest" element="av:exportAddressAdditionRequest"/>
	</wsdl:message>
	<wsdl:message name="importVerificationResult"/>
	<wsdl:message name="importVerificationResultRequest">
		<wsdl:part name="importVerificationResultRequest" element="av:importVerificationResultRequest"/>
	</wsdl:message>
	<wsdl:portType name="AddressValidationPortsTypeAsync">
		<wsdl:operation name="getState">
			<wsdl:documentation>Получить статус обработки запроса</wsdl:documentation>
			<wsdl:input message="tns:getStateRequest"/>
			<wsdl:output message="tns:getStateResult"/>
			<wsdl:fault name="FaultName" message="tns:Fault"/>
		</wsdl:operation>
		<wsdl:operation name="exportAddressAddition">
			<wsdl:documentation>Запрос выгрузки заявок</wsdl:documentation>
			<wsdl:input message="tns:exportAddressAdditionRequest"/>
			<wsdl:output message="tns:AckRequest"/>
			<wsdl:fault name="InvalidRequest" message="tns:Fault"/>
		</wsdl:operation>
		<wsdl:operation name="importVerificationResult">
			<wsdl:documentation>Импорт результатов рассмотрения заявок</wsdl:documentation>
			<wsdl:input message="tns:importVerificationResultRequest"/>
			<wsdl:output message="tns:AckRequest"/>
			<wsdl:fault name="InvalidRequest" message="tns:Fault"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="AddressValidationBindingAsync" type="tns:AddressValidationPortsTypeAsync">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getState">
			<soap:operation soapAction="urn:getState"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:RequestHeader" part="Header" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="tns:ResultHeader" part="Header" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="FaultName">
				<soap:fault name="FaultName" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="exportAddressAddition">
			<soap:operation soapAction="urn:exportAddressAddition"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:RequestHeader" part="Header" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="tns:ResultHeader" part="Header" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="InvalidRequest">
				<soap:fault name="FaultName" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="importVerificationResult">
			<soap:operation soapAction="urn:importVerificationResult"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:RequestHeader" part="Header" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="tns:ResultHeader" part="Header" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="InvalidRequest"/>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="AddressValidationServiceAsync">
		<wsdl:port name="PaymentPortAsync" binding="tns:AddressValidationBindingAsync">
			<soap:address location="https://api.dom.gosuslugi.ru/ext-bus-address-validation-service/services/AddressValidationServiceAsync"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
