versions/11.0.10.1/services/schemes/organizations-registry-common/hcs-organizations-registry-common-service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://dom.gosuslugi.ru/schema/integration/organizations-registry-common-service/" xmlns:ro="http://dom.gosuslugi.ru/schema/integration/organizations-registry-common/" xmlns:base="http://dom.gosuslugi.ru/schema/integration/base/" xmlns:ns="http://www.w3.org/2000/09/xmldsig#" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://dom.gosuslugi.ru/schema/integration/organizations-registry-common-service/">
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
			<xs:import namespace="http://dom.gosuslugi.ru/schema/integration/organizations-registry-common/" schemaLocation="hcs-organizations-registry-common-types.xsd"/>
			<xs:import namespace="http://dom.gosuslugi.ru/schema/integration/base/" schemaLocation="../lib/hcs-base.xsd"/>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="exportOrgRegistryRequest">
		<wsdl:part name="exportOrgRegistryRequest" element="ro:exportOrgRegistryRequest"/>
	</wsdl:message>
	<wsdl:message name="exportOrgRegistryResult">
		<wsdl:part name="exportOrgRegistryResult" element="ro:exportOrgRegistryResult"/>
	</wsdl:message>
	<wsdl:message name="RequestHeader">
		<wsdl:part name="Header" element="base:ISRequestHeader"/>
	</wsdl:message>
	<wsdl:message name="ISRequestHeader">
		<wsdl:part name="Header" element="base:ISRequestHeader"/>
	</wsdl:message>
	<wsdl:message name="ResultHeader">
		<wsdl:part name="Header" element="base:ResultHeader"/>
	</wsdl:message>
	<wsdl:message name="Fault">
		<wsdl:part name="Fault" element="base:Fault"/>
	</wsdl:message>
	<wsdl:message name="exportDataProviderRequest">
		<wsdl:part name="exportDataProviderRequest" element="ro:exportDataProviderRequest"/>
	</wsdl:message>
	<wsdl:message name="exportDataProviderResult">
		<wsdl:part name="exportDataProviderResult" element="ro:exportDataProviderResult"/>
	</wsdl:message>
	<wsdl:portType name="RegOrgPortsType">
		<wsdl:operation name="exportOrgRegistry">
			<wsdl:documentation>экспорт сведений об организациях</wsdl:documentation>
			<wsdl:input message="tns:exportOrgRegistryRequest"/>
			<wsdl:output message="tns:exportOrgRegistryResult"/>
			<wsdl:fault name="InvalidRequest" message="tns:Fault"/>
		</wsdl:operation>
		<wsdl:operation name="exportDataProvider">
			<wsdl:documentation>экспорт сведений о поставщиках данных</wsdl:documentation>
			<wsdl:input message="tns:exportDataProviderRequest"/>
			<wsdl:output message="tns:exportDataProviderResult"/>
			<wsdl:fault name="InvalidRequest" message="tns:Fault"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="RegOrgBinding" type="tns:RegOrgPortsType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="exportOrgRegistry">
			<soap:operation soapAction="urn:exportOrgRegistry"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:ISRequestHeader" part="Header" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="tns:ResultHeader" part="Header" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="InvalidRequest">
				<soap:fault name="InvalidRequest" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="exportDataProvider">
			<soap:operation soapAction="urn:exportDataProvider"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:ISRequestHeader" part="Header" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="tns:ResultHeader" part="Header" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="InvalidRequest">
				<soap:fault name="InvalidRequest" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="RegOrgService">
		<wsdl:port name="RegOrgPort" binding="tns:RegOrgBinding">
			<soap:address location="https://api.dom.gosuslugi.ru/ext-bus-org-registry-common-service/services/OrgRegistryCommon"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
