versions/10.0.2.3/schema/capital-repair/hcs-capital-repair-service-async.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!---->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://dom.gosuslugi.ru/schema/integration/capital-repair-service-async/" xmlns:crp="http://dom.gosuslugi.ru/schema/integration/capital-repair/" xmlns:base="http://dom.gosuslugi.ru/schema/integration/base/" xmlns:ns="http://www.w3.org/2000/09/xmldsig#" targetNamespace="http://dom.gosuslugi.ru/schema/integration/capital-repair-service-async/">
	<wsdl:types>
		<xs:schema version="10.0.1.1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
			<xs:import namespace="http://dom.gosuslugi.ru/schema/integration/base/" schemaLocation="../lib/hcs-base.xsd"/>
			<xs:import namespace="http://dom.gosuslugi.ru/schema/integration/capital-repair/" schemaLocation="hcs-capital-repair-types.xsd"/>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="getStateRequest">
		<wsdl:part name="getStateRequest" element="base:getStateRequest"/>
	</wsdl:message>
	<wsdl:message name="getStateResult">
		<wsdl:part name="getStateResult" element="crp:getStateResult"/>
	</wsdl:message>
	<wsdl:message name="RequestHeader">
		<wsdl:part name="Header" element="base:RequestHeader"/>
	</wsdl:message>
	<wsdl:message name="ResultHeader">
		<wsdl:part name="Header" element="base:ResultHeader"/>
	</wsdl:message>
	<wsdl:message name="importContractsRequest">
		<wsdl:part name="importContractsRequest" element="crp:importContractsRequest"/>
	</wsdl:message>
	<wsdl:message name="importContractsResult">
		<wsdl:part name="importContractsResult" element="base:AckRequest"/>
	</wsdl:message>
	<wsdl:message name="exportContractsRequest">
		<wsdl:part name="exportContractsRequest" element="crp:exportContractsRequest"/>
	</wsdl:message>
	<wsdl:message name="exportContractsResult">
		<wsdl:part name="exportContractsResult" element="base:AckRequest"/>
	</wsdl:message>
	<wsdl:message name="exportPlanRequest">
		<wsdl:part name="exportPlanRequest" element="crp:exportPlanRequest"/>
	</wsdl:message>
	<wsdl:message name="exportPlanResult">
		<wsdl:part name="exportPlanResult" element="base:AckRequest"/>
	</wsdl:message>
	<wsdl:message name="Fault">
		<wsdl:part name="Fault" element="base:Fault"/>
	</wsdl:message>
	<wsdl:portType name="CapitalRepairAsyncPort">
		<wsdl:operation name="getState">
			<wsdl:documentation>Результат обработки асинхронного вызова</wsdl:documentation>
			<wsdl:input message="tns:getStateRequest"/>
			<wsdl:output message="tns:getStateResult"/>
			<wsdl:fault name="InvalidRequest" message="tns:Fault"/>
		</wsdl:operation>
		<wsdl:operation name="importContracts">
			<wsdl:documentation>Импорт договоров на выполнение работ (оказание услуг) по капитальному ремонту</wsdl:documentation>
			<wsdl:input message="tns:importContractsRequest"/>
			<wsdl:output message="tns:importContractsResult"/>
			<wsdl:fault name="InvalidRequest" message="tns:Fault"/>
		</wsdl:operation>
		<wsdl:operation name="exportContracts">
			<wsdl:documentation>Экспорт договоров на выполнение работ (оказание услуг) по капитальному ремонту</wsdl:documentation>
			<wsdl:input message="tns:exportContractsRequest"/>
			<wsdl:output message="tns:exportContractsResult"/>
			<wsdl:fault name="InvalidRequest" message="tns:Fault"/>
		</wsdl:operation>
		<wsdl:operation name="exportPlan">
			<wsdl:documentation>Экспорт КПР</wsdl:documentation>
			<wsdl:input message="tns:exportPlanRequest"/>
			<wsdl:output message="tns:exportPlanResult"/>
			<wsdl:fault name="InvalidRequest" message="tns:Fault"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="CapitalRepairAsyncBinding" type="tns:CapitalRepairAsyncPort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getState">
			<soap:operation soapAction="urn:getState"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:RequestHeader" part="Header" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="tns:ResultHeader" part="Header" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="InvalidRequest">
				<soap:fault name="InvalidRequest" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="importContracts">
			<soap:operation soapAction="urn:importContracts"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:RequestHeader" part="Header" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="tns:ResultHeader" part="Header" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="InvalidRequest">
				<soap:fault name="InvalidRequest" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="exportContracts">
			<soap:operation soapAction="urn:exportContracts"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:RequestHeader" part="Header" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="tns:ResultHeader" part="Header" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="InvalidRequest">
				<soap:fault name="InvalidRequest" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="exportPlan">
			<soap:operation soapAction="urn:exportPlan"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:RequestHeader" part="Header" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="tns:ResultHeader" part="Header" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="InvalidRequest">
				<soap:fault name="InvalidRequest" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="CapitalRepairAsyncService">
		<wsdl:documentation>Сервис Капитальный ремонт</wsdl:documentation>
		<wsdl:port name="CapitalRepairAsyncPort" binding="tns:CapitalRepairAsyncBinding">
			<soap:address location="https://api.dom.gosuslugi.ru/ext-bus-capital-repair-programs-service/services/CapitalRepairAsync"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
