versions/10.0.2.3/schema/capital-repair/hcs-capital-repair-types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!---->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:base="http://dom.gosuslugi.ru/schema/integration/base/" xmlns:tns="http://dom.gosuslugi.ru/schema/integration/capital-repair/" xmlns:premises-base="http://dom.gosuslugi.ru/schema/integration/premises-base/" xmlns:bills-base="http://dom.gosuslugi.ru/schema/integration/bills-base/" xmlns:nsi-base="http://dom.gosuslugi.ru/schema/integration/nsi-base/" xmlns:organizations-registry-base="http://dom.gosuslugi.ru/schema/integration/organizations-registry-base/" targetNamespace="http://dom.gosuslugi.ru/schema/integration/capital-repair/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="10.0.1.2">
	<xs:import namespace="http://dom.gosuslugi.ru/schema/integration/base/" schemaLocation="../lib/hcs-base.xsd"/>
	<xs:import namespace="http://dom.gosuslugi.ru/schema/integration/nsi-base/" schemaLocation="../lib/hcs-nsi-base.xsd"/>
	<xs:import namespace="http://dom.gosuslugi.ru/schema/integration/premises-base/" schemaLocation="../lib/hcs-premises-base.xsd"/>
	<xs:import namespace="http://dom.gosuslugi.ru/schema/integration/bills-base/" schemaLocation="../lib/hcs-bills-base.xsd"/>
	<xs:import namespace="http://dom.gosuslugi.ru/schema/integration/organizations-registry-base/" schemaLocation="../lib/hcs-organizations-registry-base.xsd"/>
	<!-- Скалярные типы -->
	<xs:simpleType name="String50Type">
		<xs:annotation>
			<xs:documentation>Строка не более 50 символов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="String500Type">
		<xs:annotation>
			<xs:documentation>Строка не более 500 символов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="500"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="String512Type">
		<xs:annotation>
			<xs:documentation>Строка не более 512 символов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="512"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="String1000Type">
		<xs:annotation>
			<xs:documentation>Строка не более 1000 символов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="1000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="String1024Type">
		<xs:annotation>
			<xs:documentation>Строка не более 1024 символов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="1024"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StatusType">
		<xs:annotation>
			<xs:documentation>Статус объекта</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:enumeration value="Project">
				<xs:annotation>
					<xs:documentation>Проект</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Published">
				<xs:annotation>
					<xs:documentation>Опубликован</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Canceled"/>
		</xs:restriction>
	</xs:simpleType>
	<!--Объекты-->
	<xs:complexType name="DocumentType">
		<xs:annotation>
			<xs:documentation>Документ программы (плана)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Kind" type="nsi-base:nsiRef">
				<xs:annotation>
					<xs:documentation>Вид документа (НСИ 79). Используются только виды документов, которые могут применяться в программах соответствующего вида.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FullName" type="tns:String512Type">
				<xs:annotation>
					<xs:documentation>Полное наименование документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Number" type="tns:String512Type">
				<xs:annotation>
					<xs:documentation>Номер документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Date" type="xs:date">
				<xs:annotation>
					<xs:documentation>Дата документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Legislature" type="tns:String512Type">
				<xs:annotation>
					<xs:documentation>Орган, принявший документ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AttachDocument" type="base:AttachmentType" maxOccurs="1000">
				<xs:annotation>
					<xs:documentation>Файл документа</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="exportDocumentType">
		<xs:annotation>
			<xs:documentation>Экспортируемый документ программы (плана)</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="tns:DocumentType">
				<xs:sequence>
					<xs:element name="DocumentGUID" type="base:GUIDType">
						<xs:annotation>
							<xs:documentation>Идентификатор документа в ГИС ЖКХ</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--Краткосрочный план реализации региональной программы капитального ремонта (КПР)-->
	<xs:complexType name="WorkPlanIdentityType">
		<xs:annotation>
			<xs:documentation>Прикладной идентификатор работы в КПР</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ApartmentBilding" type="premises-base:FIASHouseGUIDType">
				<xs:annotation>
					<xs:documentation>Многоквартирный дом</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WorkKind" type="nsi-base:nsiRef">
				<xs:annotation>
					<xs:documentation>Вид работ капитального ремонта (НСИ 219)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EndMonthYear" type="xs:gYearMonth">
				<xs:annotation>
					<xs:documentation>Месяц и год окончания работ</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="WorkFinancingType">
		<xs:annotation>
			<xs:documentation>Финансирование работы в КПР</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Fund" type="bills-base:MoneyPositiveType">
				<xs:annotation>
					<xs:documentation>За счет средств Фонда содействия реформированию ЖКХ (в копейках)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RegionBudget" type="bills-base:MoneyPositiveType">
				<xs:annotation>
					<xs:documentation>За счет средств бюджета субъекта РФ (в копейках)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MunicipalBudget" type="bills-base:MoneyPositiveType">
				<xs:annotation>
					<xs:documentation>За счет средств местного бюджета (в копейках)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Owners" type="bills-base:MoneyPositiveType">
				<xs:annotation>
					<xs:documentation>За счет средств собственников (в копейках)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="WorkPlanType">
		<xs:annotation>
			<xs:documentation>Работа в КПР</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="tns:WorkPlanIdentityType">
				<xs:sequence>
					<xs:element name="OKTMO" type="base:OKTMORefType">
						<xs:annotation>
							<xs:documentation>Муниципальное образование, в котором располагается многоквартирный дом</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Financing" type="tns:WorkFinancingType">
						<xs:annotation>
							<xs:documentation>Финансирование работы в КПР</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PassportPlanType">
		<xs:annotation>
			<xs:documentation>Паспорт КПР</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Name" type="tns:String1000Type">
				<xs:annotation>
					<xs:documentation>Наименование</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Territory">
				<xs:annotation>
					<xs:documentation>Территория реализации КПР</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:choice>
						<xs:element name="Region" type="base:RegionType">
							<xs:annotation>
								<xs:documentation>Регион. Заполняется для регионального КПР</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Municipality" type="base:OKTMORefType">
							<xs:annotation>
								<xs:documentation>Муниципалитет. Заполняется для муниципального КПР</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:choice>
				</xs:complexType>
			</xs:element>
			<xs:element name="StartMonthYear" type="xs:gYearMonth">
				<xs:annotation>
					<xs:documentation>Месяц и год начала периода реализации</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EndMonthYear" type="xs:gYearMonth">
				<xs:annotation>
					<xs:documentation>Месяц и год  окончания периода реализации</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="exportWorkPlanType">
		<xs:annotation>
			<xs:documentation>Экспортируемая работа в КПР</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="tns:WorkPlanType">
				<xs:sequence>
					<xs:element name="WorkGUID" type="base:GUIDType">
						<xs:annotation>
							<xs:documentation>Идентификатор работы в КПР</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="exportPlanType">
		<xs:annotation>
			<xs:documentation>Экспортируемый КПР</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="tns:PassportPlanType">
				<xs:sequence>
					<xs:element name="Status" type="tns:StatusType">
						<xs:annotation>
							<xs:documentation>Статус КПР</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PlanGUID" type="base:GUIDType">
						<xs:annotation>
							<xs:documentation>Идентификатор КПР в ГИС ЖКХ</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Work" type="tns:exportWorkPlanType" minOccurs="0" maxOccurs="100000">
						<xs:annotation>
							<xs:documentation>Дома и виды работ в КПР</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Document" type="tns:exportDocumentType" minOccurs="0" maxOccurs="1000">
						<xs:annotation>
							<xs:documentation>Документы КПР</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--Договоры на выполнение работ (оказание услуг) по капитальному ремонту-->
	<xs:complexType name="WorkContractIdentityType">
		<xs:annotation>
			<xs:documentation>Прикладной идентификатор работы в договоре на выполнение работ (оказание услуг) по капитальному ремонту</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="WorkPlanGUID" type="base:GUIDType">
				<xs:annotation>
					<xs:documentation>Идентификатор работы в КПР</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:sequence>
				<xs:element name="WorkPlanBusinessIdentity" type="tns:WorkPlanIdentityType">
					<xs:annotation>
						<xs:documentation>Бизнес-ключ для работы в КПР</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="WorkContractType">
		<xs:annotation>
			<xs:documentation>Работа в договоре на выполнение работ (оказание услуг) по капитальному ремонту</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="tns:WorkContractIdentityType">
				<xs:sequence>
					<xs:element name="StartDate" type="xs:date">
						<xs:annotation>
							<xs:documentation>Дата начала выполнения работы</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="EndDate" type="xs:date">
						<xs:annotation>
							<xs:documentation>Дата окончания выполнения работы</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Cost" type="bills-base:MoneyPositiveType">
						<xs:annotation>
							<xs:documentation>Стоимость работы в договоре</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CostPlan" type="bills-base:MoneyPositiveType">
						<xs:annotation>
							<xs:documentation>Соответствующая сумма в КПР</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Volume">
						<xs:annotation>
							<xs:documentation>Объем работы</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:decimal">
								<xs:minInclusive value="0"/>
								<xs:fractionDigits value="3"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:choice>
						<xs:annotation>
							<xs:documentation>Единица измерения</xs:documentation>
						</xs:annotation>
						<xs:element ref="base:OKEI"/>
						<xs:element name="OtherUnit" type="tns:String500Type">
							<xs:annotation>
								<xs:documentation>Другая единица измерения</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:choice>
					<xs:element name="AdditionalInfo" type="tns:String1024Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Дополнительная информация</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DissolveContractType">
		<xs:annotation>
			<xs:documentation>Сведения о расторжении договора на выполнение работ (оказание услуг) по капитальному ремонту</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Reason" type="nsi-base:nsiRef">
				<xs:annotation>
					<xs:documentation>Причина расторжения договора (НСИ 54)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Number" type="tns:String500Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Номер документа	</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DocDate" type="xs:date">
				<xs:annotation>
					<xs:documentation>Дата документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Attach" type="base:AttachmentType" maxOccurs="1000">
				<xs:annotation>
					<xs:documentation>Файлы документа, подтверждающего расторжение договора</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ContractType">
		<xs:annotation>
			<xs:documentation>Договор на выполнение работ (оказание услуг) по капитальному ремонту</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Number" type="tns:String512Type">
				<xs:annotation>
					<xs:documentation>Номер договора</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Date" type="xs:date">
				<xs:annotation>
					<xs:documentation>Дата договора</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StartDate" type="xs:date">
				<xs:annotation>
					<xs:documentation>Дата начала выполнения работ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EndDate" type="xs:date">
				<xs:annotation>
					<xs:documentation>Дата окончания выполнения работ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Sum" type="bills-base:MoneyPositiveType">
				<xs:annotation>
					<xs:documentation>Сумма договора</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Customer" type="organizations-registry-base:RegOrgType">
				<xs:annotation>
					<xs:documentation>Заказчик</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Performer" type="organizations-registry-base:RegOrgType">
				<xs:annotation>
					<xs:documentation>Исполнитель</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Work" type="tns:WorkContractType" maxOccurs="10000">
				<xs:annotation>
					<xs:documentation>Список работ договора</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AttachContract" type="base:AttachmentType" maxOccurs="1000">
				<xs:annotation>
					<xs:documentation>Файлы договора</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice>
				<xs:annotation>
					<xs:documentation>Информация о гарантийном сроке</xs:documentation>
				</xs:annotation>
				<xs:element name="WarrantyMonthCount" type="xs:nonNegativeInteger">
					<xs:annotation>
						<xs:documentation>Гарантийный срок (месяцев)</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="WarrantyNotSet" type="xs:boolean" fixed="true">
					<xs:annotation>
						<xs:documentation>Гарантийный срок не установлен</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:choice>
				<xs:annotation>
					<xs:documentation>Информация о сметной документации</xs:documentation>
				</xs:annotation>
				<xs:element name="AttachOutlay" type="base:AttachmentType" maxOccurs="1000">
					<xs:annotation>
						<xs:documentation>Файлы сметной документации</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="OutlayMissing" type="xs:boolean" fixed="true">
					<xs:annotation>
						<xs:documentation>Сметная документация отсутсвует</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:choice>
				<xs:annotation>
					<xs:documentation>Адрес страницы в сети Интернет, на которой размещена информация об отборе подрядных организаций</xs:documentation>
				</xs:annotation>
				<xs:element name="TenderInetAddress" type="tns:String512Type">
					<xs:annotation>
						<xs:documentation>Адрес страницы в сети Интернет, на которой размещена информация об отборе подрядных организаций</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="TenderNotProvided" type="xs:boolean" fixed="true">
					<xs:annotation>
						<xs:documentation>Проведение отбора не предусмотрено законодательством</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:element name="Dissolve" type="tns:DissolveContractType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Сведения о расторжении</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ShortExportContractType">
		<xs:annotation>
			<xs:documentation>Экспортируемый договор на выполнение работ (оказание услуг) по капитальному ремонту (без статусов и идентификаторов)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Number" type="tns:String512Type">
				<xs:annotation>
					<xs:documentation>Номер договора</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Date" type="xs:date">
				<xs:annotation>
					<xs:documentation>Дата договора</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StartDate" type="xs:date">
				<xs:annotation>
					<xs:documentation>Дата начала выполнения работ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EndDate" type="xs:date">
				<xs:annotation>
					<xs:documentation>Дата окончания выполнения работ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Sum" type="bills-base:MoneyPositiveType">
				<xs:annotation>
					<xs:documentation>Сумма договора</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Customer" type="organizations-registry-base:RegOrgType">
				<xs:annotation>
					<xs:documentation>Заказчик</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Performer" type="organizations-registry-base:RegOrgType">
				<xs:annotation>
					<xs:documentation>Исполнитель</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Work" type="tns:WorkContractType" minOccurs="0" maxOccurs="10000">
				<xs:annotation>
					<xs:documentation>Список работ договора</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AttachContract" type="base:AttachmentType" maxOccurs="1000">
				<xs:annotation>
					<xs:documentation>Файлы договора</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice>
				<xs:annotation>
					<xs:documentation>Информация о гарантийном сроке</xs:documentation>
				</xs:annotation>
				<xs:element name="WarrantyMonthCount" type="xs:nonNegativeInteger">
					<xs:annotation>
						<xs:documentation>Гарантийный срок (месяцев)</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="WarrantyNotSet" type="xs:boolean" fixed="true">
					<xs:annotation>
						<xs:documentation>Гарантийный срок не установлен</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:choice>
				<xs:annotation>
					<xs:documentation>Информация о сметной документации</xs:documentation>
				</xs:annotation>
				<xs:element name="AttachOutlay" type="base:AttachmentType" maxOccurs="1000">
					<xs:annotation>
						<xs:documentation>Файлы сметной документации</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="OutlayMissing" type="xs:boolean" fixed="true">
					<xs:annotation>
						<xs:documentation>Сметная документация отсутсвует</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:choice>
				<xs:annotation>
					<xs:documentation>Адрес страницы в сети Интернет, на которой размещена информация об отборе подрядных организаций</xs:documentation>
				</xs:annotation>
				<xs:element name="TenderInetAddress" type="tns:String512Type">
					<xs:annotation>
						<xs:documentation>Адрес страницы в сети Интернет, на которой размещена информация об отборе подрядных организаций</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="TenderNotProvided" type="xs:boolean" fixed="true">
					<xs:annotation>
						<xs:documentation>Проведение отбора не предусмотрено законодательством</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:element name="Dissolve" type="tns:DissolveContractType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Сведения о расторжении</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="exportContractType">
		<xs:annotation>
			<xs:documentation>Экспортируемый договор на выполнение работ (оказание услуг) по капитальному ремонту</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="tns:ShortExportContractType">
				<xs:sequence>
					<xs:element name="Status" type="tns:StatusType">
						<xs:annotation>
							<xs:documentation>Статус договора</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ExecutionStatus" type="tns:String500Type">
						<xs:annotation>
							<xs:documentation>Статус исполнения договора</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ContractGuid" type="base:GUIDType">
						<xs:annotation>
							<xs:documentation>Идентификатор договора в ГИС ЖКХ</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PlanGUID" type="base:GUIDType">
						<xs:annotation>
							<xs:documentation>Идентификатор КПР в ГИС ЖКХ</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--Экспорт КПР-->
	<xs:element name="exportPlanRequest">
		<xs:annotation>
			<xs:documentation>Запрос на экспорт КПР</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="base:BaseType">
					<xs:choice>
						<xs:element name="PlanGuid" type="base:GUIDType">
							<xs:annotation>
								<xs:documentation>Идентификатор КПР в ГИС ЖКХ</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:sequence>
							<xs:choice>
								<xs:annotation>
									<xs:documentation>Территория реализации КПР</xs:documentation>
								</xs:annotation>
								<xs:element name="Region" type="base:RegionType">
									<xs:annotation>
										<xs:documentation>Регион. Заполняется для регионального КПР</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="Municipality" type="base:OKTMORefType">
									<xs:annotation>
										<xs:documentation>Муниципалитет. Заполняется для муниципального КПР</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:choice>
							<xs:element name="StartMonthYear" type="xs:gYearMonth">
								<xs:annotation>
									<xs:documentation>Месяц и год начала периода реализации</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="EndMonthYear" type="xs:gYearMonth">
								<xs:annotation>
									<xs:documentation>Месяц и год  окончания периода реализации</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:choice>
					<xs:attribute ref="base:version" use="required" fixed="10.0.1.1"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="exportPlanResult">
		<xs:annotation>
			<xs:documentation>Ответ на запрос экспорта КПР</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="base:BaseType">
					<xs:choice>
						<xs:element ref="base:ErrorMessage"/>
						<xs:element name="Plan" maxOccurs="1000">
							<xs:annotation>
								<xs:documentation>Экспортируемый КПР</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="tns:exportPlanType"/>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
					</xs:choice>
					<xs:attribute ref="base:version" use="required" fixed="10.0.1.1"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:annotation>
		<xs:documentation>Импорт договоров на выполнение работ (оказание услуг) по капитальному ремонту</xs:documentation>
	</xs:annotation>
	<xs:element name="importContractsRequest">
		<xs:annotation>
			<xs:documentation>Запрос на импорт договоров на выполнение работ (оказание услуг) по капитальному ремонту</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="base:BaseType">
					<xs:sequence>
						<xs:element name="PlanGUID" type="base:GUIDType">
							<xs:annotation>
								<xs:documentation>Идентификатор КПР в ГИС ЖКХ</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="importContract" maxOccurs="1000">
							<xs:annotation>
								<xs:documentation>Импортируемый договор (создание/редактирование договора, расторжение договора, аннулирование договора)</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="TransportGuid" type="base:GUIDType">
										<xs:annotation>
											<xs:documentation>Транспортный идентификатор для выполнения операции с договором</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ContractGuid" type="base:GUIDType" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Идентификатор договора в ГИС ЖКХ</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:choice>
										<xs:element name="LoadContract" type="tns:ContractType">
											<xs:annotation>
												<xs:documentation>Создать/Редактировать договор. При редактировании договора необходимо присылать всю актуальную информацию по договору</xs:documentation>
											</xs:annotation>
											<xs:unique name="importContractsRequest_WorkPlanGUIDUnique">
												<xs:selector xpath=".//tns:WorkPlanGUID"/>
												<xs:field xpath="."/>
											</xs:unique>
											<xs:unique name="importContractsRequest_WorkPlanBusinessIdentityUnique">
												<xs:selector xpath=".//tns:WorkPlanBusinessIdentity"/>
												<xs:field xpath="tns:ApartmentBilding"/>
												<xs:field xpath="tns:WorkKind/nsi-base:Code"/>
												<xs:field xpath="tns:EndMonthYear"/>
											</xs:unique>
										</xs:element>
										<xs:element name="DissolveContract" type="tns:DissolveContractType">
											<xs:annotation>
												<xs:documentation>Расторгнуть договор</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="CancelContract" type="xs:boolean" fixed="true">
											<xs:annotation>
												<xs:documentation>Аннулировать договор</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:choice>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute ref="base:version" use="required" fixed="10.0.1.1"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
		<xs:unique name="importContractsRequest_TransportGUIDUnique">
			<xs:selector xpath=".//tns:TransportGuid"/>
			<xs:field xpath="."/>
		</xs:unique>
		<xs:unique name="importContractsRequest_ContractGUIDUnique">
			<xs:selector xpath=".//tns:ContractGuid"/>
			<xs:field xpath="."/>
		</xs:unique>
	</xs:element>
	<xs:annotation>
		<xs:documentation>Экспорт договоров на выполнение работ (оказание услуг) по капитальному ремонту</xs:documentation>
	</xs:annotation>
	<xs:element name="exportContractsRequest">
		<xs:annotation>
			<xs:documentation>Запрос на экспорт договоров на выполнение работ (оказание услуг) по капитальному ремонту</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="base:BaseType">
					<xs:choice>
						<xs:element name="ContractGuid" type="base:GUIDType" maxOccurs="1000">
							<xs:annotation>
								<xs:documentation>Идентификатор договора в ГИС ЖКХ</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:sequence>
							<xs:element name="StartDate" type="xs:date">
								<xs:annotation>
									<xs:documentation>Дата договора С</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="EndDate" type="xs:date" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Дата договора ПО</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:choice>
					<xs:attribute ref="base:version" use="required" fixed="10.0.1.1"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="exportContractsResult">
		<xs:annotation>
			<xs:documentation>Ответ на запрос экспорта договоров на выполнение работ (оказание услуг) по капитальному ремонту</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="base:BaseType">
					<xs:choice>
						<xs:element ref="base:ErrorMessage"/>
						<xs:element name="Contract" type="tns:exportContractType" maxOccurs="1000">
							<xs:annotation>
								<xs:documentation>Экспортируемый договор</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:choice>
					<xs:attribute ref="base:version" use="required" fixed="10.0.1.1"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<!--Асинхронные методы-->
	<xs:element name="getStateResult">
		<xs:annotation>
			<xs:documentation>Возврат статуса отправленного сообщения</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="base:BaseAsyncResponseType">
					<xs:choice>
						<xs:element ref="base:ErrorMessage"/>
						<xs:element name="ImportResult" type="base:CommonResultType" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Результат импорта</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Contract" type="tns:exportContractType" maxOccurs="1000">
							<xs:annotation>
								<xs:documentation>Экспортируемый договор</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Plan" type="tns:exportPlanType" maxOccurs="1000">
							<xs:annotation>
								<xs:documentation>Экспортируемый КПР</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:choice>
					<xs:attribute ref="base:version" use="required" fixed="10.0.1.1"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
</xs:schema>
