versions/11.0.10.1/schema/nsi-common/hcs-nsi-common-service-async.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 rel. 2 (http://www.altova.com) by Zu (-) -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://dom.gosuslugi.ru/schema/integration/nsi-common-service-async/" xmlns:nsi-common="http://dom.gosuslugi.ru/schema/integration/nsi-common/" xmlns:base="http://dom.gosuslugi.ru/schema/integration/base/" xmlns:ns="http://www.w3.org/2000/09/xmldsig#" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://dom.gosuslugi.ru/schema/integration/nsi-common-service-async/">
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
			<xs:import namespace="http://dom.gosuslugi.ru/schema/integration/base/" schemaLocation="../lib/hcs-base.xsd"/>
			<xs:import namespace="http://dom.gosuslugi.ru/schema/integration/nsi-common/" schemaLocation="hcs-nsi-common-types.xsd"/>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="Fault">
		<wsdl:part name="Fault" element="base:Fault"/>
	</wsdl:message>
	<wsdl:message name="exportNsiListRequest">
		<wsdl:part name="exportNsiListRequest" element="nsi-common:exportNsiListRequest"/>
	</wsdl:message>
	<wsdl:message name="exportNsiListResult">
		<wsdl:part name="AckRequest" element="base:AckRequest"/>
	</wsdl:message>
	<wsdl:message name="exportNsiItemRequest">
		<wsdl:part name="exportNsiItemRequest" element="nsi-common:exportNsiItemRequest"/>
	</wsdl:message>
	<wsdl:message name="exportNsiItemResult">
		<wsdl:part name="AckRequest" element="base:AckRequest"/>
	</wsdl:message>
	<wsdl:message name="ISRequestHeader">
		<wsdl:part name="Header" element="base:ISRequestHeader"/>
	</wsdl:message>
	<wsdl:message name="ResultHeader">
		<wsdl:part name="Header" element="base:ResultHeader"/>
	</wsdl:message>
	<wsdl:message name="getStateRequest">
		<wsdl:part name="getStateRequest" element="base:getStateRequest"/>
	</wsdl:message>
	<wsdl:message name="getStateResult">
		<wsdl:part name="getStateResult" element="nsi-common:getStateResult"/>
	</wsdl:message>
	<wsdl:portType name="NsiPortsTypeAsync">
		<wsdl:operation name="exportNsiList">
			<wsdl:documentation>ВИ_НСИ_ППС. Получить перечень общесистемных справочников с указанием даты последнего изменения каждого из них.</wsdl:documentation>
			<wsdl:input message="tns:exportNsiListRequest"/>
			<wsdl:output message="tns:exportNsiListResult"/>
			<wsdl:fault name="InvalidRequest" message="tns:Fault"/>
		</wsdl:operation>
		<wsdl:operation name="exportNsiItem">
			<wsdl:documentation>ВИ_НСИ_ПДС. Получить данные общесистемного справочника.</wsdl:documentation>
			<wsdl:input message="tns:exportNsiItemRequest"/>
			<wsdl:output message="tns:exportNsiItemResult"/>
			<wsdl:fault name="InvalidRequest" message="tns:Fault"/>
		</wsdl:operation>
		<wsdl:operation name="getState">
			<wsdl:input message="tns:getStateRequest"/>
			<wsdl:output message="tns:getStateResult"/>
			<wsdl:fault name="InvalidRequest" message="tns:Fault"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="NsiBindingAsync" type="tns:NsiPortsTypeAsync">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="exportNsiList">
			<wsdl:documentation>ВИ_НСИ_ППС. Получить перечень справочников с указанием даты последнего изменения каждого из них.</wsdl:documentation>
			<soap:operation soapAction="urn:exportNsiList"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:ISRequestHeader" part="Header" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="tns:ResultHeader" part="Header" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="InvalidRequest">
				<soap:fault name="InvalidRequest" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="exportNsiItem">
			<wsdl:documentation>ВИ_НСИ_ПДС. Получить данные справочника.</wsdl:documentation>
			<soap:operation soapAction="urn:exportNsiItem"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:ISRequestHeader" part="Header" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="tns:ResultHeader" part="Header" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="InvalidRequest">
				<soap:fault name="InvalidRequest" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getState">
			<soap:operation soapAction="urn:getState"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:ISRequestHeader" part="Header" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="tns:ResultHeader" part="Header" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="InvalidRequest">
				<soap:fault name="InvalidRequest" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="NsiServiceAsync">
		<wsdl:documentation>Асинхронный сервис экспорта общих справочников подсистемы НСИ</wsdl:documentation>
		<wsdl:port name="NsiPortAsync" binding="tns:NsiBindingAsync">
			<soap:address location="https://api.dom.gosuslugi.ru/ext-bus-nsi-common-service/services/NsiCommonAsync"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
