versions/11.0.10.1/schema/device-metering/hcs-device-metering-service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 (http://www.altova.com) by snake4 (lanit) -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://dom.gosuslugi.ru/schema/integration/device-metering-service/" xmlns:dm="http://dom.gosuslugi.ru/schema/integration/device-metering/" xmlns:base="http://dom.gosuslugi.ru/schema/integration/base/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:ns="http://www.w3.org/2000/09/xmldsig#" targetNamespace="http://dom.gosuslugi.ru/schema/integration/device-metering-service/">
	<wsdl:types>
		<xs:schema version="10.0.1.1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
			<xs:import namespace="http://dom.gosuslugi.ru/schema/integration/device-metering/" schemaLocation="hcs-device-metering-types.xsd"/>
			<xs:import namespace="http://dom.gosuslugi.ru/schema/integration/base/" schemaLocation="../lib/hcs-base.xsd"/>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="Fault">
		<wsdl:part name="Fault" element="base:Fault"/>
	</wsdl:message>
	<wsdl:message name="importMeteringDeviceValuesRequest">
		<wsdl:part name="importMeteringDeviceValuesRequest" element="dm:importMeteringDeviceValuesRequest"/>
	</wsdl:message>
	<wsdl:message name="importMeteringDeviceValuesResult">
		<wsdl:part name="ImportResult" element="base:ImportResult"/>
	</wsdl:message>
	<wsdl:message name="exportMeteringDeviceHistoryRequest">
		<wsdl:part name="exportMeteringDeviceHistoryRequest" element="dm:exportMeteringDeviceHistoryRequest"/>
	</wsdl:message>
	<wsdl:message name="exportMeteringDeviceHistoryResult">
		<wsdl:part name="exportMeteringDeviceHistoryResult" element="dm:exportMeteringDeviceHistoryResult"/>
	</wsdl:message>
	<wsdl:message name="RequestHeader">
		<wsdl:part name="Header" element="base:RequestHeader"/>
	</wsdl:message>
	<wsdl:message name="ResultHeader">
		<wsdl:part name="Header" element="base:ResultHeader"/>
	</wsdl:message>
	<wsdl:portType name="DeviceMeteringPortTypes">
		<wsdl:operation name="importMeteringDeviceValues">
			<wsdl:documentation>Передать показания ПУ</wsdl:documentation>
			<wsdl:input message="tns:importMeteringDeviceValuesRequest"/>
			<wsdl:output message="tns:importMeteringDeviceValuesResult"/>
			<wsdl:fault name="InvalidRequest" message="tns:Fault"/>
		</wsdl:operation>
		<wsdl:operation name="exportMeteringDeviceHistory">
			<wsdl:documentation>Получить историю показаний ПУ</wsdl:documentation>
			<wsdl:input message="tns:exportMeteringDeviceHistoryRequest"/>
			<wsdl:output message="tns:exportMeteringDeviceHistoryResult"/>
			<wsdl:fault name="InvalidRequest" message="tns:Fault"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="DeviceMeteringBinding" type="tns:DeviceMeteringPortTypes">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="importMeteringDeviceValues">
			<soap:operation soapAction="urn:importMeteringDeviceValues"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:RequestHeader" part="Header" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="tns:ResultHeader" part="Header" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="InvalidRequest">
				<soap:fault name="InvalidRequest" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="exportMeteringDeviceHistory">
			<soap:operation soapAction="urn:exportMeteringDeviceHistory"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:RequestHeader" part="Header" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="tns:ResultHeader" part="Header" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="InvalidRequest">
				<soap:fault name="InvalidRequest" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="DeviceMeteringService">
		<wsdl:documentation>Сервис управления приборами учета и передачей показаний</wsdl:documentation>
		<wsdl:port name="DeviceMeteringPort" binding="tns:DeviceMeteringBinding">
			<soap:address location="https://api.dom.gosuslugi.ru/ext-bus-device-metering-service/services/DeviceMetering"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
