versions/11.0.10.1/services/schemes/infrastructure/hcs-infrastructure-service-async.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://dom.gosuslugi.ru/schema/integration/infrastructure-service-async/" xmlns:ns="http://dom.gosuslugi.ru/schema/integration/infrastructure/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:base="http://dom.gosuslugi.ru/schema/integration/base/"  targetNamespace="http://dom.gosuslugi.ru/schema/integration/infrastructure-service-async/">
	<wsdl:types>
		<xs:schema version="10.0.1.1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
			<xs:import namespace="http://dom.gosuslugi.ru/schema/integration/infrastructure/" schemaLocation="hcs-infrastructure-types.xsd"/>
			<xs:import namespace="http://dom.gosuslugi.ru/schema/integration/base/" schemaLocation="../lib/hcs-base.xsd"/>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="Fault">
		<wsdl:part name="Fault" element="base:Fault"/>
	</wsdl:message>
	<wsdl:message name="importOKIRequest">
		<wsdl:part name="importOKIRequest" element="ns:importOKIRequest"/>
	</wsdl:message>
	<wsdl:message name="importOKIResult">
		<wsdl:part name="AckRequest" element="base:AckRequest"/>
	</wsdl:message>
	<wsdl:message name="exportOKIRequest">
		<wsdl:part name="exportOKIRequest" element="ns:exportOKIRequest"/>
	</wsdl:message>
	<wsdl:message name="RequestHeader">
		<wsdl:part name="Header" element="base:RequestHeader"/>
	</wsdl:message>
	<wsdl:message name="ResultHeader">
		<wsdl:part name="Header" element="base:ResultHeader"/>
	</wsdl:message>
	<wsdl:message name="getStateRequest">
		<wsdl:part name="getStateRequest" element="base:getStateRequest"/>
	</wsdl:message>
	<wsdl:message name="getStateResult">
		<wsdl:part name="getStateResult" element="ns:getStateResult"/>
	</wsdl:message>
	<wsdl:message name="exportOKIResult">
		<wsdl:part name="AckRequest" element="base:AckRequest"/>
	</wsdl:message>
	<wsdl:portType name="InfrastructurePortsTypeAsync">
		<wsdl:operation name="importOKI">
			<wsdl:documentation>Импорт информации об ОКИ</wsdl:documentation>
			<wsdl:input message="tns:importOKIRequest"/>
			<wsdl:output message="tns:importOKIResult"/>
			<wsdl:fault name="InvalidRequest" message="tns:Fault"/>
		</wsdl:operation>
		<wsdl:operation name="exportOKI">
			<wsdl:documentation>Экспорт списка ОКИ </wsdl:documentation>
			<wsdl:input message="tns:exportOKIRequest"/>
			<wsdl:output message="tns:exportOKIResult"/>
			<wsdl:fault name="InvalidRequest" message="tns:Fault"/>
		</wsdl:operation>
		<wsdl:operation name="getState">
			<wsdl:documentation>Получить статус запроса</wsdl:documentation>
			<wsdl:input message="tns:getStateRequest"/>
			<wsdl:output message="tns:getStateResult"/>
			<wsdl:fault name="InvalidRequest" message="tns:Fault"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="InfrastructureBindingAsync" type="tns:InfrastructurePortsTypeAsync">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="importOKI">
			<soap:operation soapAction="urn:importOKI"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:RequestHeader" part="Header" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="tns:ResultHeader" part="Header" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="InvalidRequest">
				<soap:fault name="InvalidRequest" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="exportOKI">
			<soap:operation soapAction="urn:exportOKI"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:RequestHeader" part="Header" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="tns:ResultHeader" part="Header" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="InvalidRequest">
				<soap:fault name="InvalidRequest" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getState">
			<soap:operation soapAction="urn:getState"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:RequestHeader" part="Header" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="tns:ResultHeader" part="Header" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="InvalidRequest">
				<soap:fault name="InvalidRequest" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="InfrastructureServiceAsync">
		<wsdl:documentation>Асинхронный сервис управления ОКИ</wsdl:documentation>
		<wsdl:port name="InfrastructurePortAsync" binding="tns:InfrastructureBindingAsync">
			<soap:address location="https://api.dom.gosuslugi.ru/ext-bus-rki-service/services/InfrastructureAsync"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
